on: [push, pull_request]

name: Website

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@master

      - name: Query dependencies
        run: |
          install.packages("remotes")
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), "depends.Rds", version = 2)
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-

      - name: Install system dependencies
        env:
          RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
        run: |
          Rscript -e "remotes::install_github('r-hub/sysreqs')"
          sysreqs=$(Rscript -e "cat(sysreqs::sysreq_commands('DESCRIPTION'))")
          sudo -s eval "$sysreqs"

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Build site
        run: |
          rmarkdown::render_site("contest")
        shell: Rscript {0}

      - name: Upload built site artifact
        uses: actions/upload-artifact@v1
        with:
          name: site
          path: contest/_site

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/feature/initial-setup'
        uses: crazy-max/ghaction-github-pages@v1.3.0
        with:
          target_branch: gh-pages
          build_dir: contest/_site
        env:
          GITHUB_TOKEN: ${{ secrets.GHPAGES_DEPLOY_TOKEN }}
      - name: Create utterances issues with voting comment
        if: github.ref == 'refs/heads/feature/initial-setup'
        env:
          GITHUB_TOKEN: ${{ secrets.GHPAGES_DEPLOY_TOKEN }}
        run: |
          source("contest/_tools/utterances-issues.R")
          comment <- readLines("_tools/vote-comment.md")
          create_utterances_issues(
            meta = rmdgallery::gallery_site_config("contest")$gallery$meta,
            # !!!CHANGE BEFORE MERGING TO MASTER!!!
            owner = "riccardoporreca",
            repo = "test-utterances",
            site = "https://milano-r.github.io/erum2020-covidr-contest",
            comment = comment, reaction = "+1"
          )
        shell: Rscript {0}

